importFrom("graphics", "abline", "axis", "mtext", "par", "plot", "points", "segments")
importFrom("stats", "predict", "runif", "var")
export(hierNet)
export(hierNet.path)
export(hierNet.cv)
S3method(predict, hierNet)
S3method(predict, hierNet.path)
export(hierNet.logistic)
export(hierNet.logistic.path)
S3method(predict, hierNet.logistic)
export(critf.logistic)
S3method(print, hierNet)
S3method(print, hierNet.cv)
S3method(plot, hierNet.cv)
S3method(print, hierNet.path)
export(Objective)
export(Objective.logistic)
export(compute.interactions.c)
useDynLib(hierNet, .registration = TRUE)
